<!doctype html>
<html>
<head>
                                                                                                                                               
  
    
  </head>
  <body>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
    <p style = "position:absolute; top: 40px; left: 445px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="register"
>Register with us</a></p>
    <p style = "position:absolute; top: 40px; left: 565px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="loginform
">Login</a></p>
    <p style = "position:absolute; top: 40px; left: 625px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="logout">L
og Out</a></p>
    <p style = "position:absolute; top: 40px; left: 705px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="addjob">U
pload Job Vacancy</a></p>
    <p style = "position:absolute; top: 40px; left: 855px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="deleteuse
r">Remove Job</a></p>
    <p style = "position:absolute; top: 40px; left: 955px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="list">Job
 Lists</a></p>
                                                                                                                                               
     <h1 style = "position:absolute; left:500px; top:-20px; font-family:georgia; font-style:italic;  background-color:#95B9C7;">
         Welcome to <%=jobName%>
    </h1>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
    <h2 style = "position:absolute;left:630px; top: 90px;">Who We Are?</h2>
    <h3 style = "position:absolute;left:470px; top:130px;"> We are an employment site targetting those with disabilities</h3>
    <p style = "position:absolute;left:300px; top: 170px;">We've noticed those with disabilities face numerous issues when finding jobs and we'
ve decided to create a platform to overcome that barrier </p>
    <h2 style = "position:absolute;left:620px; top: 270px;"> How Do We Work?</h2>
    <p style = "position:absolute; left:50px;top: 310px;"> You, the recruiter, can go to the 'upload job vacancy' and upload a role youre after
 clients for, we then review it and if we believe it is sensible                                                                               
    we will post it to the thousands of job seekers to view and apply! </p>
    <p style = "position:absolute; left:480px; top: 330px;"> You must be complient with the Disability rights: Employement.GOV.UK </p>
    <p style = "position:absolute; left: 480px; top: 350px;"> All vacancies must be accepting or tailored to those with disabilities  </p>
    <p style = "position:absolute; left:480px; top: 370px;"> We look forward to working with you, post your JOB today, Dont Delay! </p>
                                                                                                                                               

        <img src="https://www.citycentrerecruitment.co.uk/wp-content/uploads/2014/01/recruiting-now.jpg" alt="About" style="position:relative; 
 left:190px; top:450px;width:300px;height:250px;">
                                                                                                                                               
                                                                                                                                               
    <img src="https://cdn-icons-png.flaticon.com/512/942/942830.png" alt="About" style="position:relative; 
 left:560px; top:450px;width:300px;height:250px;">
                                                                                                                                               
  </body>
</html>