<!doctype html>
  <html>
   <head> 
    <title>Logout for <%=jobName%></title>
   </head>
  <body>
    <h1>Logout for <%=jobName%></h1>
    <form method="POST" action="/logout">
        <input type="submit" value="Log Out" />
      </form>
  <button onClick="previous()" 
        id="backward">back
         </button>
   <script>
   function previous() {
            window.history.back();
        }
    </script>
                                                                                                                                               
 </body>
</html>