<!doctype html>
  <html>
    <head> 
     <h1 style = "position:absolute; left:600px; top:-20px; font-family:georgia; font-style:italic;  background-color:#95B9C7;">
         <%=jobName%>
    </h1>
    </head>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
       <form method="POST" action="/jobadded">
      <p style = "position:absolute; left:470px; top:155px;">Vacancy of interest:<input id="name" type="text" name="name" /></p>
      <p style = "position:absolute; left:470px; top:200px;">Full Name:<input id="typicalvalues1" type="text" name="typicalvalues1" /></p>
      <p style = "position:absolute; left:470px; top:245px;">DOB:<input id="unit1" type="date" name="unit1" /></p>
      <p style = "position:absolute; left:470px; top:500px;">About me: <textarea id="carbs1" type="text" name="carbs1" /></p>
      <p style = "position:absolute; left:470px; top:290px;">Disability you wish to disclose:<input id="fat1" type="boolean" name="fat1" /></p>
      <p style = "position:absolute; left:470px; top:335px;">Experience:<input id="protein1" type="text" name="protein1" /></p>
      <p style = "position:absolute; left:470px; top:380px;">Prefered start date:<input id="salt1" type="date" name="salt1" /></p>
      <p style = "position:absolute; left:470px; top:425px;">Current Postcode:<input id="sugar1" type="text" name="sugar1" /></p>
      <p style = "position:absolute; left:470px; top:450px;">Additional Information you wish the employer to see:<textarea id="username1" 
       type="text" name="username1" /></p>
       <input style = "position:absolute; left:470px; top:580px;" type="submit" value="Apply"/>
       </form>


  <button style = "position:absolute; left:465px; top:50px;" onClick="previous()" 
        id="backward">back                                                                                                                     
         </button>
   <script>
   function previous() {
            window.history.back();
        }
    </script>

   <img src="https://www.catersigns.co.uk/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/s/csl01701a.png" alt="jo
b" style="
position:relative; 
 left:800px; top:110px;width:300px;height:250px;">

   </body>
  </html>