<!doctype html>
<html>
<head>
 <h1 style = "position:absolute; left:500px; top:-20px; font-family:georgia; font-style:italic;  background-color:#95B9C7;">
         Welcome to <%=jobName%>
    </h1>
                                                                                                                                               
                                                                                                                                               
  </head>
  <body>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
   <p style = "position:absolute; top: 40px; left: 405px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="register"
>Register with us</a></p>
    <p style = "position:absolute; top: 40px; left: 525px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="loginform
">Login</a></p>
    <p style = "position:absolute; top: 40px; left: 585px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="logout">L
og Out</a></p>
    <p style = "position:absolute; top: 40px; left: 660px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="addbook">
Apply for job</a></p>
    <p style = "position:absolute; top: 40px; left: 770px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="list">Ava
ilable Vacancies</a></p>
    <p style = "position:absolute; top: 40px; left: 920px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="search2">
search job</a></p>
    <p style = "position:absolute; top: 40px; left: 1005px; font-family:Times New Roman; font-size: 15px; background-color:;"><a href="search">
Support</a></p>
      
          <h2 style = "position:absolute;left:630px; top: 90px;">Who We Are?</h2>
    <h3 style = "position:absolute;left:470px; top:130px;"> We are an employment site targetting those with disabilities</h3>
    <p style = "position:absolute;left:300px; top: 170px;">We've noticed those with disabilities face numerous issues when finding jobs and we'
ve decided to create a platform to overcome that barrier </p>
    <h2 style = "position:absolute;left:620px; top: 270px;"> How Do We Work?</h2>
    <p style = "position:absolute; left:5px; top: 300px;"> You can go to the 'Available Vacancies' page, have a look at the available vacancies
 in which we are updating on a daily. Once youve found the vacancy you wish to apply for, you then head over to 'Apply for job' and place </p>
    <p style = "position:absolute; left:530px; top: 320px;">the vacancy name alongside your personal information!  </p>
    <p style = "position:absolute; left:480px; top: 340px;"> We ensure there is a fair recruitement stage so you have an equal chance!</p>
    <p style = "position:absolute; left: 430px; top: 360px;"> We look forward to being a part of your job search journey! Begin with us today, 
dont delay!</p>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
    <img src="https://www.citycentrerecruitment.co.uk/wp-content/uploads/2014/01/recruiting-now.jpg" alt="About" style="position:relative; 
 left:190px; top:450px;width:300px;height:250px;">
                                                                                                                                               
                                                                                                                                               
    <img src="https://cdn.shopify.com/s/files/1/0044/2698/9657/products/realsteelcenter_welcom-sign_black.jpg?v=1615993839" alt="About" style="
position:relative; 
 left:560px; top:450px;width:300px;height:250px;">
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
   </body>
</html>