<!doctype html>
  <html>
    <head> 
     <h1 style = "position:absolute; left:600px; top:-20px; font-family:georgia; font-style:italic;  background-color:#95B9C7;">
         <%=jobName%>
    </h1>
    </head>
                                                                                                                                               
          <p style = "position:absolute; top:85; left:450;">Welcome Again! You can send us any questions you may have. </p>

                                                                                                                                               
       <form method="POST" action="/jobadded">
      <p style = "position:absolute; left:470px; top:155px;">Enquiry Topic:<input id="name3" type="text" name="name3" /></p>
     <p style = "position:absolute; left:470px; top:200px;">Message:<textarea id="name2" type="text" name="name2" /></p>
       <input style = "position:absolute; left:470px; top:280px;" type="submit" value="Send"/>
       </form>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
  <button style = "position:absolute; left:465px; top:50px;" onClick="previous()" 
        id="backward">back
         </button>
   <script>
   function previous() {
            window.history.back();
        }
    </script>
                                                                                                                                               
   <img src="https://thumbs.dreamstime.com/b/support-sign-grunge-stamp-label-176842583.jpg" alt="Add Food" style="
position:relative; 
 left:800px; top:130px;width:300px;height:250px;">
                                                                                                                                               
                                                                                                                                               
                                                                                                                                               
   </body>
  </html>